{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<form action="" method="POST">
{% csrf_token %}
    
 {{form|crispy}}
 <div class="row">

<div class="col-md-6">
 <button type="submit" class="btn btn-success">Submit</button>
</div>

<div class="col-md-6">
 <a href="{% url 'list' %}" class="btn btn-secondary btn-block btn-lg">
    <i class="fas fa-stream"></i> Back to Member list
</a>
</div>

</div>
</form>
{% endblock content %}